html{
    background-color: #1D267D;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
}


.imagenC{
width: 10%;
padding: 0% 1% 0% 0%;
}


.myform {
    padding: 2% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

  }
  


  .group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }


.lista{
  font-size: 20px;
}



/*estilos para mis lenguajes*/


.valores {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
 }
 
 .valores::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
 }
 
 .valores:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(120, 190, 120);
 }
 
 .valores:checked::before {
  opacity: 1;
  transform: rotate(405deg);
 }
 
 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }
 
  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }
 
  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }


 .conocimientos{
  gap: 10px;
  display: flex;
  justify-content: center;
 }



/* estilos para los botones de refresh y enviar */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

.botones{
  display: flex;
  justify-content: space-around;
}




/* mis  select */


select {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  appearance: none;
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #80bdff;
}

select option {
  font-size: 14px;
  padding: 5px;
  background-color: #f2f2f2;
  color: #333;
}

select option:hover {
  background-color: #e6e6e6;
}